.header-nav {
    margin-top: 64px;
    background-color: #333333;
    /* Установит стили верхней рамки */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d8d8d8;
    /* Установит стили нижней рамки */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d8d8d8;
}


.header-logo {
    margin-right: 72px;
}

.nav__link {
    margin-left: auto;
    margin-right: 110px;
    list-style-type: none;
    color: #d0d0d0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    @media screen and (min-width:$desktop) {
        display: flex;
    }

    @media screen and (min-width:685px) {
        display: flex;
    }
    

    & .item {
        display: block;
        /* outline: solid 1px tomato; */
        margin-right: 65px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

.link-nav{
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #eb592a;
    }
}

.main-nav {
    display: flex;
    align-items: center;
}

.mobile {
        outline: 1px solid turquoise;
}

