body {
    background-color: #111111;
}

.container {
    width: 1157px;
    outline: solid 1px tomato;
    margin-left: auto;
    margin-right: auto;
}


/* Цвет оснного цвета #d0d0d0 */

.nav__link {
    list-style-type: none;
    color: #d0d0d0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.nav__link a {
    color: #d0d0d0;
    text-decoration: none;
}

.main-nav {
    display: flex;
}


/* HERO */

.hero-button {
    display: inline-block;
    color: #fef6f3;
    padding: 13px 17px;
    text-decoration: none;
    text-align: center;
    background-color: #eb592a;
    border-radius: 10px;
    margin-left: 44px;
    margin-top: 40px;
}

.hero-title {
    color: #ffffff;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 44px;
}


/* РЕМОНТ */

.repairs-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.repairs-list {
    color: #ffffff;
    list-style-type: none;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.repairs-list a {
    color: #ffffff;
    text-decoration: none;
}


/* ПОЧЕМУ ДОКТОР */

.doc-title {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.doc-text {
    color: #727272;
    margin-top: 0;
    margin-bottom: 0;
}


/* <!-- Меняем деньги на технику -->*/

.change_title {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}