html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #111111;
}

p {
     letter-spacing: 1px;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

.container {
    width: 1157px;
    /* outline: solid 1px tomato; */
    margin-left: auto;
    margin-right: auto;
}


/* Цвет оснного цвета #d0d0d0 */


/* цвет бека в навигации #333333 */


/* НАВИГАЦИЯ */

.header-nav {
    margin-top: 64px;
    background-color: #333333;
    /* Установит стили верхней рамки */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d8d8d8;
    /* Установит стили нижней рамки */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d8d8d8;
}

.header-logo {
    margin-right: 72px;
}

.nav__link {
    margin-left: auto;
    margin-right: 110px;
    list-style-type: none;
    color: #d0d0d0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.nav__link .item {
    display: block;
    /* outline: solid 1px tomato; */
    margin-right: 65px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.nav__link .item:last-child {
    margin-right: 0;
}

.nav__link a {
    color: #d0d0d0;
    text-decoration: none;
}

.main-nav {
    display: flex;
    align-items: center;
}


/* HERO */

.conteiner-hero {
    position: relative;
    width: 1157px;
    height: 331px;
    padding-left: 44px;
}

.hero-button {
    display: inline-block;
    color: #fef6f3;
    padding: 13px 17px;
    text-decoration: none;
    text-align: center;
    background-color: #eb592a;
    border-radius: 10px;
    margin-bottom: 68px;
    border: none;
    padding-bottom: 17px;
    font-weight: bold;
    cursor: pointer;
}

.hero-title {
    color: #ffffff;
    font-size: 48px;
    margin-top: 106px;
    margin-bottom: 40px;
    /* margin-left: 44px; */
    text-shadow: 1px 1px 30px rgba(193, 181, 177, 1);
}

.hero-img {
    position: absolute;
    z-index: -1;
    left: 565px;
    top: -204px;
}


/* РЕМОНТ */

.repairs {
    padding-bottom: 94px;
}

.repairs-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 40px;
}

.repairs-list {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    list-style-type: none;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 44px;
    margin-right: 44px;
}

.repairs-list a {
    color: #ffffff;
    text-decoration: none;
}

.repairs-list li {
    border: 2px solid #959595;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 58px;
    padding-bottom: 41px;
    border-radius: 10px;
    width: 250px;
    height: 251px;
}

.repair-list__title {
    display: block;
    margin-top: 0;
    margin-bottom: 21px;
    text-align: left;
}

.hend {
    /* display: block; */
    margin-left: 29px;
    /* margin-right: 59px; */
    /* margin-bottom: 12px; */
    margin-top: -10px;
}

.watch {
    margin-left: 70px;
}

.noyt {
    margin-left: 20px;
}

.tops {
    margin-left: 50px;
}


/* ПОЧЕМУ ДОКТОР */

.doctor {
    padding-bottom: 94px;
}

.money {
    display: flex;
    justify-content: space-between;
}

.doc-title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 42px;
}

.doc-text {
    width: 806px;
    color: #d8d8d8;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 24px;
    font-family: "Arial MT";
    margin-left: 44px;
}

.doc-img {
    width: 190px;
    height: 190px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    background-image: url('../img/doc.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 44px;
    /* margin-bottom: 20px; */
}


/* <!-- Меняем деньги на технику -->*/

.text-change {
    margin-left: 67px;
    /* width: 498px;
    height: 81px; */
}

.img-flex {
    display: flex;
}

.ex-flex {
    display: flex;
}

.arrow {
    display: block;
    margin-left: 25px;
    padding-right: 25px;
    margin-top: 65px
}

.cont {
    margin-left: 47px;
    width: 200px;
    height: 201px;
    border: 2px solid #959595;
    border-radius: 10px;
    background-image: url('../img/crash.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.conte {
    width: 200px;
    height: 201px;
    border: 2px solid #959595;
    border-radius: 10px;
    background-image: url('../img/hend.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.exchange {
    padding-bottom: 94px;
}

.change_title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 42px;
}


/* КОНТАКТЫ */

.cont-flex {
    display: flex;

justify-content:space-between;
}

.contacts{
    padding-bottom: 94px;
    
}

.contacts-title {
    text-align: center;
    color: #ffffff;
    line-height: 0.6;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 40px;
}

.maps {
    margin-left: 47px;
    margin-right: 50px;
}

.map {
    border: none;
    border-radius: 4px;
}

.maps p {
    color: #ffffff;
    text-transform: uppercase;
        line-height: 0.6;
    font-size: 18px;
    font-weight:bold
}

.span {
    color: #d8d8d8;;
    text-transform:none;
    line-height: 1.3;
    font-weight:bold;
}


/* ОТЗЫВЫ */

.reviews-title {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.6;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}



/*ПОДВАЛ*/

.ftr-flex {
    display: flex;
}
.footer-border{
 
     border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
 }

.ftr-title{
    color: #888888;
    margin-left: 47px;
}
.ftr-text{
    color: #888888;
    margin-left: 47px;
}

.ftr-list {
    display: flex;
    color: #888888;
}

.ftr-list ul{
    list-style: none;
    text-decoration: none;
}

.coop {
    color: #888888;
    margin: 0;
}

.ftr-first-list {
    margin-left: 110px;
}
.ftr-first-list h2 {
    margin-left: 37px;
}

.ftr-secondary-list {
    margin-left: 110px;
}

.ftr-first-list .ftr-secondary-list {
    display: block;
 
}

.ftr-secondary-list h2{
    margin-left: 37px;
}
